@font-face {
  font-family: "Yoonwoo";
  src: url("https://fastly.jsdelivr.net/gh/projectnoonnu/noonfonts_2105@1.1/Yoonwoo.woff")
    format("woff");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "Cafe24Oneprettynight";
  src: url("https://fastly.jsdelivr.net/gh/projectnoonnu/noonfonts_twelve@1.1/Cafe24Oneprettynight.woff")
    format("woff");
  font-weight: normal;
  font-style: normal;
}

body {
  margin: 0 auto;
  padding: 0;
  width: 100%;
  height: 100%;
  max-width: 460px;
  overflow-x: hidden;
}

//header
.wrap {
  display: flex;
  -webkit-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-justify-content: center;
  justify-content: center;
  text-align: center;
  background-color: #2590ef;
  background-size: cover;
  height: 300px;
  padding-top: 25px;
  font-display: block;
  border-bottom: 0.1px solid #2590ef;

  .title {
    h1 {
      font-family: "Cafe24Oneprettynight", cursive;
      font-weight: bold;
      font-style: normal;
      font-size: 45px;
      margin: 1rem 0;
      color: white;
    }

    h2 {
      font-family: "Cafe24Oneprettynight", cursive;
      font-weight: bold;
      font-style: normal;
      margin: 0;
      padding: 0;
      font-size: 24px;
      color: #e25c67;
      line-height: 1;
    }

    h3 {
      font-family: "Yoonwoo", cursive;
      font-weight: 300;
      text-transform: uppercase;
      letter-spacing: 5px;
      font-size: 24px;
      color: white;
      margin-top: 5px;
    }

    p {
      font-family: "Yoonwoo", cursive;
      color: white;
      margin: 1rem 0 1rem;
      text-transform: uppercase;
      letter-spacing: 3px;
      font-size: 16px;
    }
  }
}

.wrap2 {
  display: flex;
  -webkit-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-justify-content: center;
  justify-content: center;
  text-align: center;
  background-image: url("/wedding/assets/img/propose.webp");
  // background-image: url("../assets/img/propose.webp");
  background-size: cover;
  height: 390px;
  padding-top: 25px;
}

// body-texts
.body-texts {
  p {
    font-family: "Yoonwoo", cursive;
    color: #564861;
    margin: 1rem 1rem 1rem;
    letter-spacing: 2px;
    line-height: 1.8;
    font-size: 22px;
    word-break: keep-all;
    text-align: center;
  }

  strong {
    font-family: "Yoonwoo", cursive;
    color: #564861;
    letter-spacing: 2px;
    line-height: 1.8;
    font-size: 22px;
    word-break: keep-all;
    text-align: center;
  }
}

// self-introduction
.self-introduction {
  display: flex;
  justify-content: space-between; /* 좌우로 나누어 배치 */
  align-items: center; /* 세로로 중앙 정렬 */
  padding: 20px;
}

.profile {
  width: 48%; /* 각 프로필 영역을 48%로 설정하여 간격을 둡니다 */
  text-align: center;
  background-color: #f8f8f8;
  border-radius: 8px;
  padding: 20px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.profile img {
  width: 120px;
  height: 120px;
  border-radius: 50%; /* 원형 이미지 */
  object-fit: cover;
  transform: scaleX(-1);
}

.profile h3 {
  font-size: 1.5rem;
  margin: 8px;
}

.profile h3 .label {
  font-size: 1rem; /* '신랑'과 '신부'의 글자 크기를 작게 설정 */
  color: #6e85b7; /* 색상 설정 */
}

.profile p {
  font-size: 1.1rem;
  line-height: 1.5;
  color: #333;
  margin-bottom: 10px;
}

.profile small {
  font-size: 0.9rem;
  color: #777;
}

.type_j_info {
  font-family: "Cafe24Oneprettynight", cursive;
  padding: 20px 20px;
  margin: 20px 30px;
  background-color: #f9f9f9;
  border-top: 2px solid #333;
  border-bottom: 2px solid #333;
  letter-spacing: 2px;
  line-height: 1;

  display: -webkit-flex;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
}

// calender
.calender {
  width: 100%;
  margin: 0 auto;
}

// countdown
.countdown {
  width: 100%;
  background-color: black;
  color: white;
  padding: 15px 0;
  font-size: 16px;
  text-align: center;
}

// ing
.ing {
  display: -webkit-flex;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  margin-top: 20px;

  p {
    font-weight: bold;
    margin: 0.5rem 0;
  }
}

// timeline
.timeline {
  width: 100%;
  max-width: 460px;
  margin: 0 auto;
  padding: 20px 0;
  position: relative;

  h3 {
    display: -webkit-flex;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    color: #6e85b7;
  }

  ul {
    list-style: none;
    padding: 0;
    margin: 0;
  }
}

.contents {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 20px 0;
  position: relative;
  width: 100%;
}

.contents.reverse {
  flex-direction: row-reverse;
}

.contents::before {
  content: "";
  position: absolute;
  top: 0;
  bottom: 0;
  left: 50%;
  width: 2px;
  background-color: #ccc;
  transform: translateX(-50%);
}

.contents::after {
  content: "";
  position: absolute;
  top: 50%;
  left: 50%;
  width: 10px;
  height: 10px;
  background-color: #6e85b7;
  border-radius: 50%;
  transform: translate(-50%, -50%);
}

.con_1 {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 45%;
  text-align: center;
}

.img_box img {
  width: 100%;
  border-radius: 10px;
  object-position: 50% 0%;
}

.rotate {
  transform: rotate(90deg);
}

.base-width {
  max-width: 150px;
}

.base-height {
  max-height: 150px;
}

.con_2 {
  width: 45%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
}

.con_title {
  font-size: 18px;
  font-weight: bold;
  margin-bottom: 5px;
}

.con_des {
  font-size: 14px;
  color: #666;
}

// gallery
.gallery {
  display: flex;
  flex-direction: column;
  justify-content: center; /* 가로로 가운데 정렬 */
  text-align: center; /* 텍스트를 중앙 정렬 */
  margin-bottom: 2rem;
}

.gallery h3 {
  font-family: "Cafe24Oneprettynight", cursive;
  font-size: 1.5rem;
  color: #6e85b7;
}

// directions
.directions {
  display: flex;
  flex-direction: column;
  justify-content: center; /* 가로로 가운데 정렬 */
  text-align: center; /* 텍스트를 중앙 정렬 */
  margin-bottom: 2rem;
}

.directions h3 {
  font-family: "Cafe24Oneprettynight", cursive;
  font-size: 1.5rem;
  color: #6e85b7;
}

.directions p {
  line-height: 2rem;
}

.come {
  margin-top: 8px;
}

.come h4 {
  font-family: "Cafe24Oneprettynight", cursive;
  font-size: 1.3rem;
  color: #6e85b7;
  margin: 10px 10px;
}

.come p {
  font-family: "Cafe24Oneprettynight", cursive;
  font-size: 1.1rem;
  margin: 10px 10px;
  line-height: 2;
}

.map_btn {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 8px; /* 아이콘과 텍스트 사이 여백 */
  background-color: #fff; /* 배경 흰색 */
  color: #333; /* 텍스트 색상 */
  font-size: 1rem;
  font-weight: bold;
  border: none;
  border-radius: 8px;
  padding: 12px 20px;
  margin-bottom: 4px;
  cursor: pointer;
  transition: box-shadow 0.3s ease, transform 0.2s ease;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1); /* 부드러운 그림자 */
}

.map_btn:hover {
  box-shadow: 0 6px 12px rgba(0, 0, 0, 0.15); /* 호버 시 그림자 강조 */
  transform: scale(1.03);
}

.map_btn:active {
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.2); /* 클릭 시 그림자 줄임 */
  transform: scale(1);
}

.map_btn .img_box {
  width: 24px;
  height: 24px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.map_btn .img_box img {
  width: 100%;
  height: auto;
}

// convey-your-heart
.convey-your-heart {
  font-family: "Cafe24Oneprettynight", cursive;
  display: flex;
  flex-direction: column;
  justify-content: center; /* 가로로 가운데 정렬 */
  text-align: center; /* 텍스트를 중앙 정렬 */
  margin-bottom: 2rem;
}

.convey-your-heart h3 {
  font-size: 1.5rem;
  color: #6e85b7;
}

.convey-your-heart p {
  font-size: 1.2rem;
  line-height: 2;
}

// finale
.finale {
  position: relative;
  width: 100%;
}

.finale img {
  width: 100%;
  height: auto;
  display: block;
}

.text-overlay {
  font-family: "Yoonwoo", cursive;
  position: absolute;
  bottom: 2%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: white;
  font-size: 1.6rem;
  text-align: center;
  font-weight: bold;

  text-shadow: 0 0 5px rgba(0, 0, 0, 0.5), 0 0 10px rgba(0, 0, 0, 0.5),
    0 0 15px rgba(0, 0, 0, 0.5);
}

.text-overlay p {
  display: inline;
}

.text-overlay span {
  white-space: nowrap;
}

// swiper
.swiper-container {
  width: 56%;
  margin: 0 auto;
}

.swiper-slide {
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  font-size: 2rem;
  border-radius: 10px;
  overflow: hidden;
}

.swiper-slide img {
  width: 100%;
  height: auto;
  object-fit: contain;
  border-radius: 10px;
}
.swiper-button-prev {
  position: absolute;
  left: -60px;
}
.swiper-button-next {
  position: absolute;
  right: -60px;
}
.swiper-pagination {
  position: relative;
  margin-top: 10px;
}

// account
.account-info {
  margin-top: 1rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  max-width: 500px;
}

.account-title {
  font-size: 1rem;
  border-radius: 5px;
  width: 100%;
}

.account {
  margin-bottom: 8px;
  display: flex;
  flex-direction: column;
  align-items: flex-start; /* 변경: 왼쪽 정렬 */
  padding: 5px 20px;
  border: 1px solid #ccc;
  background-color: #f7f7f7;
  position: relative;
  width: 100%;
  min-width: 280px;
  box-sizing: border-box;
  text-align: left; /* 변경: 텍스트 왼쪽 정렬 */
}

.account h4 {
  font-size: 1.3rem;
  color: #6e85b7;
  margin: 10px 0px;
  width: 100%;
  text-align: left; /* 변경: 텍스트 왼쪽 정렬 */
}

.account p {
  font-size: 1rem;
  margin: 0;
  width: calc(100% - 80px);
  word-break: break-all;
  text-align: left; /* 변경: 텍스트 왼쪽 정렬 */
}

.account button {
  position: absolute;
  top: 50%;
  right: 10px;
  transform: translateY(-50%);
  padding: 8px 16px;
  font-size: 1rem;
  color: #fff;
  background-color: #6e85b7;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.account button:hover {
  background-color: #4b6a8d;
}

.toggle-btn {
  background-color: #6e85b7;
  color: white;
  border: none;
  padding: 10px 20px;
  font-size: 1rem;
  cursor: pointer;
  border-radius: 5px;
  width: 100%;
  text-align: left;
}

.toggle-btn:hover {
  background-color: #4b6a8d;
}

.arrow {
  float: right;
  transition: transform 0.3s ease;
}

.toggle-btn.active .arrow {
  transform: rotate(180deg);
}

#groomAccounts,
#brideAccounts {
  width: 100%;
}

// footer
footer {
  width: 100%;
  background-color: #f8f9fa;
  color: #333;
  text-align: center;
  padding: 20px 0;
  position: relative;
  font-size: 14px;
  border-top: 1px solid #ccc;
  margin-top: 40px;
}

footer p {
  margin: 0;
}

// popup
.popup-container {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5);
  z-index: 999;
}

.popup-content {
  background: white;
  width: 90%;
  max-width: 400px;
  margin: 5% auto;
  border-radius: 10px;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.2);
  overflow: hidden; /* 내용이 튀어나가지 않도록 */
}

.popup-header {
  padding: 15px;
  color: white;
  border-radius: 10px 10px 0 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.form-group {
  padding: 15px;
  border-bottom: 1px solid #eee;
}

input[type="text"],
input[type="number"] {
  width: 100%;
  padding: 10px;
  margin-top: 5px;
  border: 1px solid #ddd;
  border-radius: 5px;
  box-sizing: border-box;
}

.form-group label {
  display: block;
  margin-bottom: 5px;
}

.button-group {
  padding: 15px;
  text-align: right;
  display: flex;
  justify-content: flex-end;
}

.submit-btn,
.close-btn {
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  height: 40px;
  line-height: 20px;
}

.submit-btn {
  background: #6e85b7;
  color: white;
  margin-right: 10px;
}

.popup-trigger {
  background-color: #f8e8e8;
  color: #d4726a;
  border: 2px solid #d4726a;
  border-radius: 25px;
  padding: 12px 24px;
  font-size: 18px;
  font-weight: bold;
  cursor: pointer;
  transition: all 0.3s ease;

  display: block;
  margin: 0 auto;
  width: fit-content;
  margin-top: 20px;
}

.popup-trigger:hover {
  background-color: #d4726a;
  color: #ffffff;
}

.kakao-share {
  background-color: #fae100;
  color: black;
  border: 2px solid black;
  border-radius: 25px;
  padding: 12px 24px;
  font-size: 18px;
  font-weight: bold;
  cursor: pointer;
  transition: all 0.3s ease;

  display: block;
  margin: 0 auto;
  width: fit-content;
  margin-top: 20px;
}

.button-text {
  margin-right: 8px;
}

.button-icon {
  font-size: 20px;
}

textarea {
  width: 100%;
  padding: 10px;
  margin-top: 5px;
  border: 1px solid #ddd;
  border-radius: 5px;
  box-sizing: border-box;
  font-size: 1rem;
  resize: none;
}
